/* Reseteo simple */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 2px; afecta a todo el código y los containers de bootsrap pierden lugar necesario */
  padding: 0;
}

/* Variables para un diseño consistente */
:root {
  --color-primario: #005a8d; /* Un azul profesional */
  --color-primario-suave: #0073b1; /* Un azul más claro para hover y acentos */
  --color-secundario: #f4f4f4; /* Un gris claro para fondos */
  --color-texto-negro: #333333;
  --color-texto-blanco: #ffffff;
  --color-fondo-body: #f7e9fa;
  --color-fondo-footer: #c7d3ec;
  --font-primary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}



.custom-navbar {
  background-color: var(--color-primario-suave);
}

.navbar .nav-link,
.navbar .navbar-brand {
  font-size: 0.9rem;
}

.img-custom {
  width: 120px;
  height: 120px;
  object-fit: cover;
} /*  dimesiona la imagen del medico */

.espacio-filtro {
  width: 42px;
}

footer {
    background-color: var(--color-primario-suave);
    color: var(--color-texto-blanco);
    font-size: 20px;
}

/* Tablets */
@media (min-width: 768px) {
  footer i {
    font-size: 1.25rem;
  }
  .navbar .nav-link {
    font-size: 1rem;
  }
}

/* Pantallas grandes */
@media (min-width: 1200px) {
  footer i {
    font-size: 1.5rem;
  }
  .navbar .nav-link {
    font-size: 1.1rem;
  }
}
