/* Reseteo simple */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

/* Variables para un diseño consistente */
:root {
  --color-primario: #005a8d; /* Un azul profesional */
  --color-primario-suave: #0073b1; /* Un azul más claro para hover y acentos */
  --color-secundario: #f4f4f4; /* Un gris claro para fondos */
  --color-texto-negro: #333333;
  --color-texto-blanco: #ffffff;
  --color-fondo-body: #f7e9fa;
  --color-fondo-footer: #c7d3ec;
  --font-primary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.custom-navbar {
  background-color: var(--color-primario-suave);
}

.navbar .nav-link,
.navbar .navbar-brand {
  font-size: 0.9rem;
}

.img-custom {
  width: 120px;
  height: 120px;
  object-fit: cover;
} /*  dimesiona la imagen del medico */

.espacio-filtro {
  width: 42px;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* para que esté siempre arriba */
}

.tabla-scroll {
  max-height: 430px;
  overflow-y: auto;
}

/* Tablets */
@media (min-width: 768px) {
  footer {
    font-size: 18px;
  }
  .navbar .nav-link {
    font-size: 1rem;
  }
  .tabla-scroll {
    max-height: 475px;
  }
}

/* Pantallas grandes */
@media (min-width: 1200px) {
  footer {
    font-size: 20px;
  }
  .navbar .nav-link {
    font-size: 1.1rem;
  }
  .tabla-scroll {
    max-height: 490px;
  }
}
