.clase-seccion-titulo {
  margin-top: 70px; /* o padding-top */
  background-image: linear-gradient(to right, white 25%, transparent 80%),
    url("imagen-fondo-institucional/interior-centro-medico.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 30vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0.5rem 2rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

/* Título principal */
.clase-seccion-titulo h3 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* Subtítulo */
.clase-seccion-titulo h5 {
  font-weight: 400;
  color: #444; /* gris para contraste */
}

.clase-titulo-1 {
  color: #1e3a5f;
  font-size: xx-large;
  margin: 0;
}

.clase-titulo-2 {
  color: #000000;
  font-size: x-large;
  margin: 0;
}

/* -------------------
   MEDIA QUERIES
------------------- */

/* Tablets */
@media (max-width: 992px) {
  .clase-seccion-titulo {
    padding: 0.5rem 1rem 0 1rem; /* poco padding arriba y lateral */
  }
  .icono-titulo {
    justify-content: center;
  }
  .grilla-institucional {
    margin: 2rem;
    gap: 1.5rem;
  }
}

/* Celulares */
@media (max-width: 576px) {
  .clase-seccion-titulo {
    padding: 0.5rem 1rem 0 1rem; /* poco padding arriba y lateral */
    min-height: 10vh;
  }
  .clase-titulo-1,
  .clase-titulo-2 {
    display: none;
  }

  .estilos-contenedores {
    padding: 1.5rem;
  }

  .imagen-directores {
    max-width: 200px;
    margin: auto;
  }
}
