

.border-bottom {
    border-bottom-width: 2px !important; 
    border-bottom-color: #d4cbcb !important; 
    border-bottom-style: solid !important ;/* cambio de grosor se aplica */
}


.mapa iframe {
    height: 500px; /* Restablece la altura original del mapa */
    border-radius: 15px; /* Mantiene las esquinas redondeadas */ 
  } 